<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to home page</title>
</head>
<body>
<h1>Welcome</h1>
<ul>
    <li><a href="{% url 'faculty_list' %}">Faculty list</a></li>
    <li><a href="{% url 'kafedra_list' %}">Kafedra list</a></li>
    <li><a href="{% url 'group_list' %}">Group list</a></li>
    <li><a href="{% url 'student_list' %}">Student list</a></li>
    <li><a href="{% url 'subject_list' %}">Subject list</a></li>
    <li><a href="{% url 'teacher_list' %}">Teacher list</a></li>
</ul>
</body>
</html>